ul.nav {
  padding-left: 0px;
  background-color: #6699FF;
  text-align: center;
}

ul.nav > li {
  padding: 20px;
  border-style: solid;
  border-color: #FFFFFF;
}

ul.nav > li:hover {
  background-color: #003399;
}
ul.nav > li > a {
  color: #FFFFFF;
  text-decoration: double;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color:black;
  color: black;
}
