@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body{
  width: max-content;
  height: max-content;
  min-width: 100%;
  min-height: 100%;
}

figure.snip0045 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip0045 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0045 > img {
  width: 30%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  -webkit-transform: scale(1.5);
  transform: scale(1.0);
  position: relative;
  left: -10%;
  z-index: 1;
}
figure.snip0045 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  right: 0;
  width: 50%;
}
figure.snip0045 figcaption h2,
figure.snip0045 figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  width: 100%;
}
figure.snip0045 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0045 figcaption h2 span {
  font-weight: 800;
}
figure.snip0045 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0045 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0045 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0045 .position {
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 1em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
}
figure.snip0045.red .position {
  background: #12866F;
}
figure.snip0045:hover > img,
figure.snip0045.hover > img {
  left: -5%;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #010504;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 2px solid white;
}
.li1 {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: 2px solid white;
  
}
.li1:hover:not(.active) {
  background-color: #333;
}
  
li a:hover:not(.active) {
    background-color: #333;
}
  
.active {
    background-color: #04AA6D;
}

body {
    font-family: Arial;
    margin: 0;
}
  
/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    background-image: repeating-radial-gradient(closest-side at 20px 20px,#0b5042, #07352c, #031a16);
}
.header h1{
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #7cd8c6, 0px 0px 10px #7cd8c6, 0px 0px 10px #7cd8c6,
    0px 0px 20px #7cd8c6;
    font-family: "Courier Prime", monospace;
    border-right: 5px solid #000;
    animation: cursor 1s infinite step-end, typing 12s infinite steps(11);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes cursor{
  0%, 100%{border-color: transparent;}
  50%{border-color: #000;}
}

@keyframes typing{
  0%{ width: 1ch} /*Text is hidden*/
  30%{ width: 11ch;} /*The enitre header will be typed out*/
  80%{ width: 11ch;} /*Text stays visible*/
  90%{ width: 1ch;} /*Text is deleted*/
  100%{ width: 1ch;} /*Text stays hidden*/
}


footer {
  text-align: center;
  background-color: DarkSalmon;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding: 3%;
  font-size: small;
  background-image: repeating-radial-gradient(farthest-corner at 20px 20px,#0b5042, #07352c, #031a16);
}
.footer1{
  text-align: center;
  background-color: #010504;
  color: white;
  padding: 0.1%;
  font-family: 'Oswald', sans-serif;
}
footer span{
    font-size: xx-large;
}