ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  
  /* Page Content */
  .content {padding:20px;}

  .vertical-menu {
    width: 350px; /* Set a width if you like */
    padding:10px;
    background-color: white;
  }
  
  .vertical-menu a {
    background-color: #12866F; /* Grey background color */
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border: 5px solid black;
  }
  
  .vertical-menu a:hover {
    background-color: black; /* Dark grey background on mouse-over */
    border: 5px solid white;
  }