@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box ;
}

body {
    font-family: 'Lato', sans-serif;
    background-color:#8b0000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
    width: 80%;
}

.video{
    cursor: pointer;
    width: 50%;
    background-color: red;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.controls.btn {
    border: 0;
    background-color: transparent;
    color: #9b0000;
    cursor: pointer;
    margin-right: 10px
}

.time{
    font-weight: bold;
    margin-left: 10px;
}

@media(max-width: 800px) {
    .video, .controls {
        width: 90%;
    }
}


